@(title: String)(content: play.twirl.api.Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <!--htmlmin:ignore--> <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>         <!--htmlmin:ignore-->
    </head>
        <!--htmlmin:ignore-->    <body>
    @content
    </body>
        <!--htmlmin:ignore-->
</html>
